/*-----------------------------------------------------------------------*/
/*body：実際にブラウザの画面上に表示される内容*/
body {
  /*CSS変数設定*/
  /*--基本４色*/
  --back-color          : #fffef7;
  --main-color          : #39AAB2;
  --second-color        : #F593AA;
  --string-color        : #4A487F;
  /*--javaScriptでの使用色*/
  --guidLine-color      : var(--back-color);
  --canvasMain-color    : var(--string-color);
  --canvasBorder-color  : var(--second-color);
  --selected-color      : var(--second-colr);
  /*キャンバスサイズ*/
  --canvas-size         : 400px;
  --canvas-size-height  : 500px;
  --canvas-size-width   : calc(var(--canvas-size-height)/4*3);
  /*ボタンサイズ*/
  --button-size         : 90px;
  --button-image-size   : calc(var(--button-size)/10*6);
  /*文字サイズ*/
  --font-M-size         : 30px;
  --font-S-size         : 24px;
  --font-L-size         : calc(var(--font-M-size)*2);
  --font-SS-size        : 18px;
  /*行間*/
  --line-height-M       : 42px;
  --line-height-S       : 36px;
  /*ボーダー幅*/
  --canvas-border-width : 10px;
  --button-border-width : calc(var(--canvas-border-width)/5*4);
  /*ボーダー角丸率*/
  --border-radius-circle: 50%;
  --border-radius-high  : 40px;
  --border-radius-low   : 20px;
  /*ガイドライン比率*/
  --guideLine-ratio     : 50%;

  /*-----------------------------------------------------------------------*/
  /*bodyデザイン*/
  font-size       : var(--font-S-size);
  /*font-family：文字の種類指定（英語：Signika Negative・日本語：Kosugi Maru・他：sans-serif＝ゴシック体）*/
  font-family     : 'Signika Negative', 'Kosugi Maru', sans-serif;
  /*text-align：テキストの水平方向への配置を指定（center：中央揃え）*/
  text-align      : center;
  /*color：文字色指定*/
  color           : var(--string-color);
  background-color: var(--back-color);
  /*margin：要素の余白（0：なし）*/
  margin          : 0;
}

/*-----------------------------------------------------------------------*/
/*header：上部のコンテンツ　footer：下部のコンテンツ*/
header,
footer {
  /*width：要素の幅（auto：親要素から子要素がはみ出ない最大幅）*/
  width           : auto;
  /*background-color：要素の背景色*/
  background-color: var(--second-color);
  /*color：文字色指定*/
  color           : var(--back-color);
  /*border-color：枠線色指定*/
  border-color    : var(--string-color);
}

/*header：上部のコンテンツ*/
header {
  padding            : 5px 5px;
  height             : 320px;
  border-bottom-style: dashed;
}

header p {
  font-weight: bold;
}

/*footer：下部のコンテンツ*/
footer {
  padding         : 50px 50px;
  border-top-style: dashed;
  border-bottom   : auto;
}

/*main：文書内で主要なコンテンツ*/
main {
  /*中央揃え：マージンauto*/
  margin-right: auto;
  margin-left : auto;
  width       : 800px;
}

/*-----------------------------------------------------------------------*/
/*h1：大見出し（header内）*/
h1 {
  font-size    : var(--font-L-size);
  margin-top   : 40px;
  margin-bottom: 12px;
}

/*h2：中見出し*/
/*summary：ウィジェットの概要や中身*/
h2,
summary {
  line-height: var(--line-height-M);
  font-size  : var(--font-M-size);
}


summary {
  cursor      : pointer;
  margin-left : auto;
  margin-right: auto;
  width       : 600px;
  text-align  : center;
  font-weight : bold;
  color       : var(--main-color);
}

summary:hover {
  cursor: pointer;
  /* カーソルを指マークに */
  color : var(--string-color);
}

summary p {
  font-weight: normal;
  line-height: var(--line-height-S);
  font-size  : var(--font-S-size);
  color      : var(--string-color);
}

/*p：段落*/
p {
  line-height: var(--line-height-S);
  font-size  : var(--font-S-size);
}

small {
  font-size: var(--font-SS-size);
}

/*a：リンク*/
a {
  text-decoration: none;
  color          : var(--main-color);
}



/*hr：水平線*/
hr {
  border          : none;
  border-top-style: dashed;
  border-top-color: var(--second-color);
}

/*iframe:埋め込み*/
iframe {
  border-radius: var(--border-radius-low);
}

/*table：表*/
table {
  margin    : auto;
  text-align: center;
}

/*-----------------------------------------------------------------------*/

/*underline：文字列に下線を引く*/
.underline {
  text-decoration      : underline;
  text-decoration-color: var(--second-color);
}

.whiteUnderline {
  text-decoration          : underline;
  text-decoration-thickness: 4px;
  text-decoration-color    : var(--back-color);
}

.pinkUnderline {
  text-decoration          : underline;
  text-decoration-thickness: 4px;
  text-decoration-color    : var(--second-color);
}


/*hide：非表示の設定*/
.hide {
  display: none;
}

.left {
  text-align: left;
}

/*-----------------------------------------------------------------------*/
/*内容：ピンクの角丸ボーダー線を引く*/
/*SnapCodeTable：SnapCodeをまとめている表
 WebApplicationTable：このWebアプリケーション自身の説明をまとめている表
 picture：撮影結果を表示するキャンバス 
 video：動画埋め込み要素
 */
#SnapCodeTable,
#WebApplicationTable,
#picture,
video {
  border-style : solid;
  border-width : var(--canvas-border-width);
  border-color : var(--second-color);
  border-radius: var(--border-radius-high);
  margin       : auto;
  overflow     : hidden;
}

/*-----------------------------------------------------------------------*/
/*videoSet：videoと#faceLineをまとめた大きなくくり*/
#videoSet {
  /*#faceLineと配置関係*/
  position: relative;
}

/*#faceLine：写真を撮るときのガイド線を描いたキャンバス*/
#faceLine {
  /*#videoSetと配置関係（#videoSetの中央に配置）*/
  position : absolute;
  top      : var(--guideLine-ratio);
  left     : var(--guideLine-ratio);
  transform: translate(calc(var(--guideLine-ratio)*-1), calc(var(--guideLine-ratio)*-1));
}

/*picture：撮影結果を表示するキャンバス　
video：動画埋め込み要素*/
#picture,
video {
  background-color: var(--string-color);
  overflow        : hidden;
  width           : var(--canvas-size);
  height          : var(--canvas-size);
}

/*-----------------------------------------------------------------------*/
/*matrixImg：顔タイプ＆パーソナルカラー診断のマトリックス表画像*/
.matrixImg {
  width        : 250px;
  border-radius: var(--border-radius-low);
}

/*snapCodeImg：SnapCode画像
ARImg:ARメイクフィルターを適用させた画像*/
.snapCodeImg,
.ARImg {
  width  : 320px;
  height : 320px;
  padding: 20px;
}

.ARImg {
  object-fit   : cover;
  border-radius: 50px;
}



/*-----------------------------------------------------------------------*/
/*button：ボタン要素（縁なし丸ボタン）*/
button {
  text-align   : center;
  width        : var(--button-size);
  height       : var(--button-size);
  border-radius: var(--border-radius-circle);
  padding      : none;
  border       : none;
  position     : relative;
}

/*button　.active：ボタンにカーソルが触れた時に表示する要素*/
button .active {
  position: absolute;
  left    : 18px;
  top     : 17px;
  opacity : 0;
}

/*button:hover　.active：ボタンにカーソルが触れた時に表示する要素を反応させる*/
button:hover .active {
  opacity: 1;
}

/*button img：ボタン内画像*/
button img {
  width       : var(--button-image-size);
  height      : var(--button-image-size);
  text-align  : center;
  margin-right: auto;
  margin-left : auto;
}

button p {
  margin-top: 0px;
}

/*...RoundButtonTable p：ボタン下部にあるボタン説明の文章*/
.lightRoundButtonTable p,
.darkRoundButtonTable p {
  margin-top: 12px;
}

/*-----------------------------------------------------------------------*/
/*nomalButton：背景色無しボタン*/
.nomalButton {
  width     : calc(var(--button-size)/4*5);
  height    : calc(var(--button-size)/4*5);
  color     : var(--main-color);
  background: none;
}

.nomalButton img {
  width : calc(var(--button-image-size)/4*5);
  height: calc(var(--button-image-size)/4*5);
}

.nomalButtonP {
  color     : var(--main-color);
  margin-top: 0px;
}

/*-----------------------------------------------------------------------*/
/*lightRoundButtonTable：明るい丸ボタンをまとめている表*/
.lightRoundButtonTable button {
  background-color: var(--back-color);
}

.lightRoundButtonTable p {
  color: var(--back-color);
}

/*-----------------------------------------------------------------------*/
/*darkSquareButton：角丸四角ボタン*/
.darkSquareButton {
  width           : 700px;
  height          : 80px;
  color           : var(--back-color);
  background-color: var(--main-color);
  border-radius   : var(--border-radius-low);
}

.darkSquareButton p {
  font-family  : 'Signika Negative', 'Kosugi Maru', sans-serif;
  font-weight  : bold;
  margin-top   : auto;
  margin-bottom: auto;
}


.darkSquareButton:hover {
  background-color: var(--string-color);
}

.darkSquareButton img {
  width : var(--button-image-size);
  height: var(--button-image-size);
}



/*-----------------------------------------------------------------------*/
/*lightRoundButtonTable：暗い丸ボタンをまとめている表*/
.darkRoundButtonTable button {
  background-color: var(--main-color);
}

.darkRoundButtonTable button:hover {
  background-color: var(--string-color);
}

.darkRoundButtonTable p {
  color: var(--main-color);
}

/*-----------------------------------------------------------------------*/
/*faceTypeCheckButtonTable：顔写真で計れない顔タイプをチェックするボタンをまとめた表*/
.faceTypeCheckButtonTable td {
  width  : 260px;
  height : 260px;
  padding: 20px;
}

.faceTypeCheckButtonTable button {
  border-style    : solid;
  border-width    : var(--canvas-border-width);
  border-color    : var(--main-color);
  border-radius   : var(--border-radius-high);
  background-color: #fffef7;
  width           : 250px;
  height          : 250px;
  position        : relative;
}

.faceTypeCheckButtonTable img {
  width : 130px;
  height: 130px;
}

.faceTypeCheckButtonTable p {
  color: var(--main-color);
}

.faceTypeCheckButtonTable .active {
  position: absolute;
  left    : 50px;
  top     : 48px;
}

.faceTypeCheckButtonTable button:hover {
  border-color: var(--string-color);
}

/*-----------------------------------------------------------------------*/
/*input[type="file"]：ファイルのアップロードボタン*/
input[type="file"] {
  display: none;
}

/*-----------------------------------------------------------------------*/
/*functionButtonTable：canvasに対する機能ボタンをまとめている表*/
/*buttonTable：functionButtonTable以外の丸ボタンをまとめている表*/
.functionButtonTable,
.buttonTable {
  margin: 10px auto;
}

/*buttonTable：functionButtonTable以外の丸ボタンをまとめている表*/
.buttonTable td {
  padding: 30px;
}


/*functionButtonTable：canvasに対する機能ボタンをまとめている表*/
.functionButtonTable td {
  width     : 200px;
  height    : 200px;
  text-align: center;
}

/*-----------------------------------------------------------------------*/
/*SnapCodeTable：SnapCodeをまとめている表*/
#SnapCodeTable {
  width: 800px;
}

/*WebApplicationTable：このWebアプリケーション自身の説明をまとめている表*/
#WebApplicationTable {
  width     : 800px;
  padding   : 20px;
  text-align: left;
}


/*personalColorTable：パーソナルカラー診断ボタンをまとめている表*/
#personalColorTable {
  margin-top: -30px;
}

#personalColorDiv {
  margin-top: -30px;
}

#faceTypeTable {
  margin-top: -30px;
}

.detailsTable,
.detailsTable2 {
  border-style : solid;
  border-width : var(--canvas-border-width);
  border-color : var(--second-color);
  border-radius: var(--border-radius-high);
  width        : 800px;
  padding      : 10px;
}

.linkLine {
  text-decoration      : underline;
  text-decoration-color: var(--main-color);
}

.linkLine:hover {
  color                : var(--string-color);
  text-decoration-color: var(--string-color);
}

.detailsTable td,
.detailsTable2 td {

  padding-left : 50px;
  padding-right: 50px;
}

.detailsTable img {
  width : 100px;
  height: 100px;
}

.detailsTable2 img {
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;
  border-style : solid;
  border-width : calc(var(--canvas-border-width)/4*3);
  width        : 700px;
  border-color : var(--string-color);
  border-radius: var(--border-radius-low);
}



.detailsTable2 li {
  font-size : var(--font-S-size);
  padding   : 10px;
  text-align: left;
}

.detailsTable2 p {
  text-align: left;
}

.detailsTable button img {
  width : var(--button-size);
  height: var(--button-size);
}

.matrixTable td {
  padding: 20px;
}

/*-----------------------------------------------------------------------*/

.typeResult {
  border-radius   : var(--border-radius-low);
  padding         : 15px;
  color           : var(--string-color);
  background-color: var(--second-color);

}

#personalcolorIframe {
  width        : 600px;
  height       : 900px;
  border-style : solid;
  border-width : var(--canvas-border-width);
  border-color : var(--main-color);
  border-radius: var(--border-radius-high);
}

#youtube {
  border-style : solid;
  border-width : var(--canvas-border-width);
  border-color : var(--main-color);
  border-radius: var(--border-radius-high);
}

#QRImg {
  margin-top   : auto;
  margin-bottom: auto;
  width        : 350px;
  height       : 350px;
  border-radius: var(--border-radius-low);
}

.pink {
  color: var(--second-color);
}